.post {
  display: flex;
  padding: 10px;
  background-color: var(--bg-secondary);
}

.textBlock {
  margin-left: 15px;
}

.name {
  margin: 10px 0;
  font-size: 18px;
  font-weight: 600;
}

.text {
}
