.message {
  padding: 10px;
  background-color: var(--bg-color);

  margin-right: 100px;
}

.messageIsMe {
  align-self: flex-end;
  margin-right: 0;
  margin-left: 100px;
}
.wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.messageIsMe .wrapper {
  flex-direction: row-reverse;
}
.name {
  margin: 10px 0;
  font-size: 18px;
  font-weight: 600;
}
.text {
  display: inline-block;
}
