.posts {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.createPost {
  display: flex;
  gap: 20px;
}

.postsWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
