.userPhoto {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--primary);
  flex-shrink: 0;
}

.avatar {
  display: block;
  border-radius: 50%;
}

.small {
  width: 40px;
  height: 40px;
}

.large {
  width: 100px;
  height: 100px;
}
