*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Syne, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
  color: var(--font-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--font-color);
}
button {
  border: none;
  background-color: unset;
}

:root {
  --bg-color: #0a0a0a;
  --bg-secondary: #181818;
  --font-color: #fefefe;
  --font-secondary: #959392;
  --primary: #adf7b6;
  --font-family: 'Syne', sans-serif;
}
